name: test single wrapper

on:
  workflow_dispatch:
    inputs:
      wrapper_name:
        description: 'Wrapper rule to test (e.g., test_flye)'
        required: true
        default: 'test_flye'

jobs:
    testing:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
            with:
              submodules: recursive
              fetch-depth: 0
                
          - name: Setup mamba
            uses: conda-incubator/setup-miniconda@v2
            with:
              activate-environment: snakemake
              channels: "conda-forge, bioconda"
              miniforge-version: latest

          - name: Setup Snakemake environment
            shell: bash -el {0}
            run: |
              conda config --set channel_priority strict
              conda install -n snakemake -y snakemake-minimal snakemake-storage-plugin-http pytest pandas
        
          - name: Run tests
            shell: bash -el {0}
            run: |
                # run tests
                pytest -v test_wrappers.py -k "${{ github.event.inputs.wrapper_name }}"
